{% extends 'base.html.twig' %}

{% block title %}{{ titre_page }}{% endblock %}

{% block body %}
    <div class="flex flex-col items-center w-full h-screen p-10">
        <h1>{{ titre_page }}</h1>
        <h5>We are the {{ "now"|date('d/m/Y') }} | {{ "Twig note"|upper }}</h5>

        {% set description = '<strong>Bienvenue</strong>' %}
        <p>Échappé (sécurisé) : {{ description }}</p>
        <p>Non échappé (dangereux si entrée utilisateur) : {{ description|raw }}</p>


        {% if connected %}
            <p>Bienvenue !</p>
        {% else %}
            <a href="#">Se connecter</a>
        {% endif %}
        {% include 'partials/_card_hackathon.html.twig' %}

        {% import 'macros/_ui.html.twig' as ui %}
        {{ ui.badge('Inscrivez-vous !') }}
    </div>
{% endblock %}
